@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

#smooth-wrapper {
  overflow: hidden;
  position: relative;
}

#smooth-content {
  position: relative;
  z-index: 1;
}

/* Paragraphs */
.paragraph {
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
  margin: 300px 0;
  /* text-transform: uppercase; */
  line-height: 1.4;
}

.para-1 {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: clamp(2.5rem, 7.5vw, 8rem);
  /* Responsive between 2.5rem and 8rem */
  text-transform: uppercase;
}

/* Responsive Body Text - para-2 and para-3 */
.para-2,
.para-3 {
  font-size: clamp(1.5rem, 3vw, 4rem);
  /* Responsive between 1.5rem and 2.5rem */
  margin: 40vh auto;
  padding: 0 5vw;
  line-height: 1.6;
  text-align: center;
}

.line {
  display: block;
  overflow: visible;
}

.line-inner {
  display: inline-block;
  will-change: transform;
  transform: translateY(0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.205);
  font-weight: bold;
}

/* Dummy area for scroll extension
.dummy {
  min-height: 100vh;
  background-color: aqua;
} */

/* SECTION: Background with pinning */
.bg-section-wrapper {
  position: relative;
  min-height: 100vh;
  /* overflow: hidden; */
}

/* Mask to contain pinned background */
.bg-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

/* The background image inside pinned element */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
  filter: none;
}

/* Foreground text content */
.content-section {
  position: relative;
  z-index: 1;
}





/************************************************************************************ our journey section **************************************************************/

.our-journey {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.our-journey .our-journey-img-holder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}

.our-journey-img-holder img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.our-journey-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(8vw, 12vw, 15vw);
  width: 100%;
  white-space: nowrap;
  font-weight: bold;
  z-index: 3;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .our-journey-text {
    font-size: clamp(10vw, 14vw, 20vw);
  }

  .our-journey {
    height: 70vh;
    padding: 1vw;
  }
}

/************************************************************************************* year sections ***************************************************************/


.year-section {
  position: relative;
  /* min-height: 100vh; */
  padding: 100px 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: black;
  /* gap: 3vw; */
}

.text-image-wrapper {
  /* position: relative; */
}

.background-text {
  font-size: 20vw;
  color: #cecece;
  font-weight: 700;
  text-align: center;
  z-index: 1;
  line-height: 1;
  pointer-events: none;
  user-select: none;
  margin-bottom: 4vw;
}


.double {
  font-size: 15vw;
}


.image-wrapper {
  position: absolute;
  /* top: 50%; */
  left: 18%;
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #fff;

}

.image-wrapper img {
  width: min(275px, 40vw);
  height: auto;
  display: block;
  border-radius: 8px;
}

.content-box {
  /* margin-top: auto; */
  /* margin-left: auto; */
  width: 100%;
  height: 30vh;
  display: flex;
  /* align-items: flex-start; */
  gap: 1vw;
  z-index: 3;
  margin-top: -2%;
}

.imgidiv {
  position: relative;
  width: 40%;
  display: flex;

}

.content-div {
  width: 60%;
  display: flex;
  column-gap: 2vw;
  /* margin-top: auto; */
  margin-left: auto;
  /* gap: 1vw; */
}

.circle-bulletin img {
  width: 100px;
  height: 100px;
  min-width: 100px;
  object-fit: contain;
}

.content-text h2 {
  font-size: 1.75rem;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 8px;
  /* padding-top: 32px; */
  text-transform: uppercase;
}

.content-text p {
  font-size: 1.15rem;
  color: #ccc;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .circle-bulletin {
    display: none;
  }

  .content-box {
    width: 100%;
    margin-top: 2%;
  }

  .content-box>* {
    text-align: right;
  }

  .image-wrapper {
    position: relative;
    border: none;
    overflow: hidden;
    transform: none;
    top: unset;
    left: unset;
    box-shadow: none;
    /* margin-top: -11%; */

  }

  .image-wrapper img {
    max-width: 350px;
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .background-text {
    font-size: 24vw;
  }


  .double {
    font-size: 16vw;
    margin-bottom: 18vw;
  }



  .content-text>* {
    text-align: center;
  }

  .image-wrapper img {
    max-width: 115px;
  }

  .image-wrapper {

    /* margin-top: -13%; */
  }

  .content-text h2 {
    font-size: 0.9rem;
  }

  .content-text p {
    font-size: .75rem;
    text-align: justify;
  }
}

.letter {
  display: inline-block;
}

/* ***************************************************************** our specialities ***************************************************************** */

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.specialties-section {
  background-color: transparent;
  padding: 50px 0;
  color: #fff;
  font-family: 'Prompt', sans-serif;
  position: relative;
}

.specialties-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

@media screen and (max-width: 991px) {
  .specialties-section video {
    display: none;
  }

}

.specialties-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
  padding: 0 2vw;
  margin-top: 4%;
}

.card {
  flex: 1;
  /* max-width: 180px; */
  position: relative;
  text-align: center;
  margin: 20px;
  background-color: #ffffff12;
  /* border: 1px solid white; */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75%;
  transform: rotate(-9deg);
  width: 100%;
  min-width: 22%;
  max-width: 22%;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  /* thickness of the border */
  border-radius: 12px;
  backdrop-filter: blur(15px);
  background: linear-gradient(270deg,
      #ff00cc,
      #3333ff,
      #00ffcc,
      #ffcc00,
      #ff00cc);
  /* rainbow colors */
  background-size: 800% 800%;
  filter: drop-shadow(0 0 12px rgba(255, 0, 204, 0.6)) drop-shadow(0 0 16px rgba(51, 51, 255, 0.5)) drop-shadow(0 0 20px rgba(0, 255, 204, 0.4));
  animation: borderGradientMove 5s linear infinite;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

@keyframes borderGradientMove {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}


.card-number {
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
}

.card-text {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 8px;
  color: #ccc;
}

.specialties-title {
  text-align: center;
  font-size: clamp(2.5rem, 9vw, 6rem);
  font-weight: bold;
  line-height: 1.1;
  flex: 1 1 300px;
  color: white;
  text-transform: uppercase;
}

.specialties-description {
  display: flex;
  justify-content: center;
  position: relative;
}

.specialties-description img {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
}

.specialties-content {
  padding: 40px 30px;
  padding-top: 14.5%;
  max-width: 85%;
  border-radius: 0 0 80px 80px;
}

.specialties-content p {
  font-size: 1.7rem;
  line-height: 1.6;
  color: #ccc;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .specialties-content {
    max-width: 100%;
    padding: 40px 20px;
    padding-top: 0;
  }

  .specialties-content p {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .card-text {
    font-size: 1rem;
  }

  .card-number {
    font-size: 1.3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
  }


}


@media screen and (max-width: 991px) {
  .specialties-header {
    flex-direction: column;
    align-items: center;
  }

  /* Reorder elements */
  .specialties-title {
    order: 1;
    margin-bottom: 30px;
    flex: 1;
    text-align: center;
  }

  .left-card {
    order: 2;
    margin-bottom: 20px;
  }

  .right-card {
    order: 3;
  }

  .card {
    transform: rotate(0deg);
    /* Remove rotation on small screens */
    max-width: 90%;
    /* Let cards be responsive */
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .specialties-header {
    margin-bottom: 30px;
  }

  .specialties-content {
    max-width: 100%;
    padding: 40px 20px;
    padding-top: 0;
  }
}

/* ----------------------------nav animation------------------------- */

ul {
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  position: relative;
}

ul li a:before {
  content: "";
  width: 0;
  height: 5px;
  background-color: #07f7f3;
  position: absolute;
  top: 120%;
  left: 0;
  transition: all 0.5s;
}

ul li a:after {
  content: "";
  width: 0;
  height: 5px;
  background-color: #35f756;
  position: absolute;
  top: 120%;
  right: 0;
  transition: all 0.5s;
}

ul li a:hover:before {
  width: 50%;
  transform: translateX(100%);
}

ul li a:hover:after {
  width: 50%;
  transform: translateX(-100%);
}


#fluid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  pointer-events: none;
}

.texts-highlight {
  background: linear-gradient(to right, #00D3FF, #00FF83);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* fallback for some browsers */
  color: transparent;
  display: inline;
  /* important: don't use inline-block unless necessary */
}


/* background for cards at last */


.button-wrapper {
  position: relative;
}



.button-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, #FF8038 0%, #FF0099 30.43%, #00EBEB 68.23%, #DB00FF 100%);
  background-size: 600% 600%;
  border-radius: 50px;
  animation: AnimateBorder 4s ease infinite;
  -webkit-animation: AnimateBorder 4s ease infinite;
  -moz-animation: AnimateBorder 4s ease infinite;
  z-index: -1;
  transform: translate(-2px, -2px);
  transition: filter 1s ease-in;
}

.button-bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: black;
  background-size: 600% 600%;
  border-radius: 50px;
  animation: AnimateBorder 4s ease infinite;
  -webkit-animation: AnimateBorder 4s ease infinite;
  -moz-animation: AnimateBorder 4s ease infinite;
  z-index: -1;
  transform: translate(-2px, -2px);
  transition: filter 1s ease-in;
}

.button-wrapper:hover .button-bg {
  filter: blur(10px);
  transition: filter .4s ease-in;
}


@-webkit-keyframes AnimateBorder {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimateBorder {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimateBorder {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.specialties-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}


/* gradient state */
.gradient-text {
  background: linear-gradient(90deg, #ff0080, #7928ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}